/* Footer container */
.footer {
    background-color: var(--alabaster);
    color: var(--primaryBlue);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--alabaster); 
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 0 2px var(--primaryBlue);
      width: 90%;
}

/* Footer text */
.footer p {
    color: var(--primaryBlue);
    font-size: 16px;
    font-style: italic;
}

/* Footer link */
.footer a {
    color: var(--linkColor);
    text-decoration: none;
}

/* Footer link hover effect */
.footer a:hover {
    color: var(--linkColor);
    text-decoration: underline;
}